<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Inventory App</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Inventory</h1>
  <h2>Add an item along with its price to add it to your inventory list. Once you have added an item, update the quantity to calculate the total cost.</h2>


  <h3>Inventory</h3>
  <ul class="messages">
    <% for(var i=0; i<items.length; i++) {%>
      <li class="message">
        <span> Item: <%= items[i].item %></span>
        <span>Price: &#36;<%= items[i].price %></span>
        <% let total = items[i].price * items[i].quantity %>
        <span>Quantity: <%= items[i].quantity %> units</span>
        <span>Total Cost: &#36;<%= total %></span>
        <form >
          <input type="number" step="0.1" min="0" placeholder="units" name="units">
          <button class="unitSubmit" type="button">update</button>
        </form>
        <span>

        </span>
        <span><i class="fa fa-trash" aria-hidden="true"></i></span>
      </li>
      <% } %>
  </ul>

  <h2>Input a Product to Inventory</h2>

  <form action="/inventory" method="POST">
    <input type="text" placeholder="name" name="item">
    <input type="number" step="0.01" min="0" placeholder="price" name="price">
    <!-- <input type="number" step="0.1" placeholder="units" name="units"> -->

    <button type="submit">Submit</button>
  </form>

  <script src="main.js"></script>

</body>

</html>